@media only screen and (min-width: 700px) {
  #ham-btn {
    display: none;
  }
  nav {
    display: flex;
    width: auto;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }












  /* Home */
  .hero img {
    max-height: 400px;
  }

  #home-main {
    display: flex;
    align-items: stretch;
    gap: 1rem;
  }
  #home-main section {
    display: flex;
    flex-direction: column;
  }
  .base-section > :not(h2) {
    flex: 1;
  }
  .current-events {
    flex: 1;
  }

  .spotlight .spotlight-content {
    flex-direction: row;
  }
  .spotlight .spotlight-img-container img {
    max-width: 7rem;
  }
  .spotlight-text {
    text-align: left;
  }









  /* Directory */
  .list p:not(.membership) {
    display: block;
  }













  /* Join  */
  #join {
    display: flex;
  }

  form {
    flex: 1;

    width: fit-content;

    margin: 0;
  }

  #membership-level-titles {
    flex: 1;
  }






  /* Discover */
  .place .place-content {
    flex-direction: row;
    align-items: center;
  }

  .place .place-content figure img {
    min-width: 300px;
  }

  @media (min-width: 1075px) {
    #discover-places {
      grid-template-areas:
        "card1 card2"
        "card3 card4"
        "card5 card6"
        "card7 card8";
    }

    .place img {
      transition: filter 0.5s ease, transform 0.5s ease;
    }
    .place img:hover {
      filter: brightness(80%);
      transform: scale(1.05);
    }
  }









  footer {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  footer p {
    text-align: center;
  }
}