@media only screen and (min-width: 700px) {
  #ham-btn {
    display: none;
  }
  nav {
    display: flex;
    width: auto;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }












  /* Home */
  .hero img {
    max-height: 400px;
  }

  #home-main {
    display: flex;
    align-items: stretch;
    gap: 1rem;
  }
  #home-main section {
    display: flex;
    flex-direction: column;
  }
  .base-section > :not(h2) {
    flex: 1;
  }
  .current-events {
    flex: 1;
  }

  .spotlight .spotlight-content {
    flex-direction: row;
  }
  .spotlight .spotlight-img-container img {
    max-width: 7rem;
  }
  .spotlight-text {
    text-align: left;
  }









  /* Directory */
  .list p:not(.membership) {
    display: block;
  }


















  footer {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  footer p {
    text-align: center;
  }
}