/*#region Site Wide */
:root {
  --primary: #0B3C5D;
  --accent: #1E6F9F;
  --background: #ffffff;
  --section: #F2E9DC;
  --text: #4A4A4A;
}
* {
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
  box-sizing: border-box;

  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.3;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
main {
  flex: 1;

  display: grid;
  gap: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Arial, sans-serif;
}
h1 {
  padding: 0.5rem;

  font-size: 1.75rem;
  text-align: center;

  /* border: 1px dashed blue; */
}
a {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}
button {
  cursor: pointer;
}
/* section {
  border: 1px dashed green;
} */
/*#endregion */



/*#region Header and Navigation */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;

  padding: 1rem;

  background-color: var(--primary);
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo img {
  height: 48px;
  width: 48px;
}

.hamburger {
  padding: 0.5rem;

  font-size: 1.5rem;

  background-color: var(--accent);
  color: var(--background);
  border: none;
  border-radius: 999px;

  transition: background-color 0.5s ease, color 0.5s ease;
}
.hamburger:hover {
  background-color: var(--background);
  color: var(--text);
}

nav {
  display: none;

  width: 100%;
}
nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  list-style-type: none;
}
nav.show {
  display: block;
}
nav ul li a {
  display: block;

  padding: 1rem;

  text-align: center;

  color: white;
  border-radius: 0.5rem;

  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
nav ul li a.current {
  background-color: var(--accent);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav ul li a:hover {
  background-color: var(--text);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/*#endregion */



/*#region Home */
.hero {
  position: relative;
}
.hero img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;

  border-radius: 0 0 0.5rem 0.5rem;
}
.hero #cta {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;

  padding: 1rem 0.5rem;

  font-weight: bold;

  background-color: var(--section);
  color: var(--text);
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  transition: background-color 0.5s ease, color 0.5s ease;
}
.hero #cta:hover {
  background-color: var(--accent);
  color: var(--background);
}


#home-main {
  display: grid;
  gap: 1.5rem;

  padding: 0 1.5rem;
}
#home-main section {
  display: grid;
  gap: 1rem;

  padding: 1rem;

  color: var(--text);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
}
#home-main section h2 {
  padding: 0.5rem 1rem;
  margin: -1rem -1rem 0 -1rem;

  text-align: center;

  background-color: var(--primary);
  color: var(--background);
}


.weather #weather-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
#weather-img {
  flex: 1;

  display: grid;
  place-items: center;
}
#weather-img img {
  display: block;

  height: 150px;
  width: 150px;
}
#weather-content #weather-info {
  flex: 1;

  display: grid;
  gap: 0.5rem;
}


.forecast {
  text-align: center;
}


#spotlights {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;

  padding: 4rem 2rem;

  background-color: var(--section);
  color: var(--text);
}
#spotlights .spotlight {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;

  border-radius: 0.5rem;
  background-color: var(--background);
  color: var(--text);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.spotlight h3 {
  padding: 0.5rem 1rem;

  font-weight: bold;
  text-align: center;

  background-color: var(--text);
  color: var(--background);
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.spotlight .spotlight-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;

  border-radius: 0.5rem;
  overflow: hidden;
  border: 5px solid var(--text);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.spotlight .spotlight-img-container {
  display: grid;
  place-items: center;
}
.spotlight .spotlight-img-container img {
  display: block;

  height: auto;
  max-width: 8rem;
  object-fit: cover;

  border-radius: 0.5rem;
}


.spotlight-text {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  padding: 0.5rem;

  text-align: center;
}
.spotlight-text p a {
  font-weight: bold;

  color: var(--primary);

  transition: color 0.5s ease, font-weight 0.5s ease;
}
.spotlight-text p a:hover {
  font-weight: normal;

  color: var(--text)
}


.membership2 {
  border: 5px solid silver;
}
.membership2 img {
  border: 5px solid silver;
}
.membership3 {
  border: 5px solid gold;
}
.membership3 img {
  border: 5px solid gold;
}
/*#endregion */



/*#region Directory */
#members-container {
  display: grid;
  gap: 1rem;

  padding: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.buttons button {
  padding: 1rem 1.5rem;

  text-align: center;

  border: none;
  border-radius: 0.5rem;
  background-color: var(--text);
  color: var(--background);

  transition: background-color 0.5s ease;
}
.buttons button:hover {
  background-color: var(--primary);
}

#members {
  color: var(--text);
}


/* GRID VIEW */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}
.grid .card {
  position: relative;

  display: grid;
  gap: 1rem;

  padding: 1rem;

  text-align: center;

  border-radius: 1rem;
  background-color: #F2E9DC;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.grid img {
  width: 175px;
  height: auto;

  margin: 0 auto;
}
.grid a {
  width: fit-content;

  margin: 0 auto;
  padding: 1rem 0.5rem;

  background-color: #4A4A4A;
  border-radius: 0.5rem;
  color: var(--background);

  transition: background-color 0.5s ease;
}
.grid a:hover {
  background-color: var(--primary);
}
.grid .membership {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 10;

  display: grid;
  place-items: center;

  width: 2rem;
  height: 2rem;

  background-color: var(--primary);
  color: white;
  border-radius: 999px;
}


/* LIST VIEW */
.list {
  display: block;
}
.list .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;

  padding: 1rem 0.5rem;

  text-align: center;

  border-bottom: 1px solid var(--text);
  color: var(--text);
}
.list .card:nth-child(even) {
  background-color: white;
}
.list .card:nth-child(odd) {
  background-color: var(--section);
}
.list h2 {
  font-weight: bold;
}

.list img {
  display: none;
}
.list p {
  display: none;
}
.list a {
  padding: 1rem 0.5rem;

  background-color: var(--text);
  color: white;
  border-radius: 1rem;

  transition: background-color 0.5s ease;
}
.list a:hover {
  background-color: var(--primary);
}
/*#endregion */



/*#region Join */
#join {
  display: grid;
  gap: 2rem;

  padding: 4rem 2rem;

  background-color: var(--section);
}

form {
  flex: 1;

  display: grid;
  gap: 1.5rem;

  width: 100%;

  padding: 1.5rem;
  margin: 0 auto;

  background-color: var(--background);
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
label {
  display: grid;
  gap: 0.5rem;

  padding: 0.25rem;
}
input, textarea, select {
  width: 100%;

  padding: 0.5rem 0.25rem;

  border-radius: 0.5rem;
  border: 2px solid var(--text);
}
input[type="submit"] {
  padding: 1rem 0.5rem;

  background-color: var(--primary);
  color: var(--background);
  border: none;
  border-radius: 0.5rem;

  transition: background-color 0.5s ease;
}
input[type="submit"]:hover {
  background-color: var(--text);
}


#membership-level-titles {
  flex: 1;

  display: grid;
  gap: 2rem;

  width: 100%;
}

#membership-level-titles div {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 2rem;

  text-align: center;

  background-color: var(--background);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  opacity: 0;
  transform: translateY(30px);
  animation: fadeSlideUp 2s ease forwards;
}
@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#membership-level-titles div a {
  padding: 1rem;

  border-radius: 0.5rem;
  background-color: var(--primary);
  color: var(--background);

  transition: background-color 0.5s ease;
}
#membership-level-titles div a:hover {
  background-color: var(--text);
}

dialog {
  max-width: 600px;

  margin: 4rem auto;

  border: none;
  border-radius: 0.5rem;
  background-color: var(--section);
}
dialog div {
  display: grid;
  gap: 1rem;

  padding: 1rem;
}
dialog button {
  position: absolute;
  top: 1rem;
  right: 1rem;

  padding: 1rem 0.5rem;

  border: 2px solid var(--primary);
  color: var(--background);
  background-color: var(--primary);
  border-radius: 999px;
}
dialog button:hover {
  background-color: var(--background);
  color: var(--text);
}
::backdrop {
  backdrop-filter: blur(6px);
}
/*#endregion */



/*#region Thank You */
#thankYou {
  display: grid;
  gap: 1rem;

  max-width: 500px;

  padding: 2rem 1rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;

  background-color: var(--section);
  color: var(--text);
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#thankYou h2 {
  text-align: center;
}
#thankYou p {
  padding: 0.5rem;
}
/*#endregion */



/*#region Discover */
#visit_message {
  display: grid;
  place-items: center;

  margin: 0 2rem;
  padding: 1rem;

  background-color: var(--primary);
  color: var(--background);
  border-radius: 999px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#visit-message {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}


#discover-places {
  display: grid;
  grid-template-areas:
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    "card6"
    "card7"
    "card8"
  ;
  gap: 2rem;

  padding: 4rem 2rem;

  background-color: var(--section);
}
.place:nth-child(1) { grid-area: card1; }
.place:nth-child(2) { grid-area: card2; }
.place:nth-child(3) { grid-area: card3; }
.place:nth-child(4) { grid-area: card4; }
.place:nth-child(5) { grid-area: card5; }
.place:nth-child(6) { grid-area: card6; }
.place:nth-child(7) { grid-area: card7; }
.place:nth-child(8) { grid-area: card8; }


#discover-places .place {
  display: grid;
  gap: 1rem;

  padding: 1rem;

  background-color: var(--background);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.place h2 {
  padding: 1rem 2rem;
  margin: -1rem -1rem 0 -1rem;

  text-align: center;
  font-weight: bold;

  background-color: var(--accent);
  color: var(--background);
}
.place .place-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.place .place-content figure {
  margin: 0 auto;

  border-radius: 0.5rem;
}
.place-content figure img {
  display: block;

  width: 100%;

  border-radius: 0.5rem;

  transition: brightness 0.5s ease, transform 0.5s ease;
}
.place-content .place-text {
  display: grid;
  gap: 1rem;
}
.place a {
  display: block;
  width: fit-content;

  padding: 1rem 2rem;
  margin: 0 auto;

  text-align: center;
  font-weight: bold;

  background-color: var(--accent);
  color: var(--background);
  border-radius: 999px;

  transition: background-color 0.5s ease;
}
.place a:hover {
  background-color: var(--text);
}
/*#endregion */



/*#region Footer */
footer {
  display: grid;
  gap: 1rem;

  padding: 1rem;

  text-align: center;

  background-color: var(--primary);
  color: white;
}

#footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
#footer-links a {
  display: grid;
  place-items: center;

  height: 3rem;
  width: 3rem;

  padding: 0.5rem;

  background-color: var(--accent);
  border-radius: 999px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  transition: background-color 0.5s ease, color 0.5s ease;
}
#footer-links a:hover {
  background-color: var(--background);
  color: var(--text);
}
#footer-links a svg {
  width: 100%;
  height: auto;
}
/*#endregion */
